<html>
    <head>
        <title>Verification Dashboard</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  
    </head>
    <body>
        <div class="text-center mt-5">
            <h1>Welcome to the Verification Dashboard</h1>
            <h3>Please login or register to continue</h3>
        </div>

        <div class="text-center mt-5">
            <button id="loginBtn" class="btn btn-success" onclick="login()">Login</button>
            <button id="registerBtn" class="btn btn-secondary" onclick="register()">Register</button>
        </div>
    </body>
</html>